In [1]:
import pandas as pd
import numpy as np

In [3]:
np.random.seed(101)

In [4]:
df = pd.DataFrame(np.random.randn(5, 4), index ='A B C D E'.split(), columns='w x y z'.split())

In [1]:
df

NameError: name 'df' is not defined

In [6]:
df['y']

A    0.907969
B   -0.848077
C    0.528813
D   -0.933237
E    2.605967
Name: y, dtype: float64

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df[['y','x']]

          y         x
A  0.907969  0.628133
B -0.848077 -0.319318
C  0.528813  0.740122
D -0.933237 -0.758872
E  2.605967  1.978757

In [9]:
somawx = df['w + x'] = df['w'] + df['x']

In [10]:
somawx

A    3.334983
B    0.331800
C   -1.278046
D   -0.570177
E    2.169552
dtype: float64

In [2]:
serie = [['Palmeiras', PG[0] , 27, 15, 8, 4, 41, 18, SG[0]],
          ['Internacional', PG[1], 27, 15, 8, 4, 35, 17,  SG[1]],
          ['São Paulo',PG[2] , 27, 14, 8, 4, 39, 22,  SG[2]],
          ['Grêmio',PG[3] , 27, 14, 8, 5, 35, 14,  SG[3]],
          ['Flamengo',PG[4] , 27, 14, 7, 6, 38, 2,  SG[4]],
          ['Atlético-MG',PG[5] , 27, 13, 6, 8, 47, 33,  SG[5]]]

NameError: name 'PG' is not defined

In [52]:
tb = pd.DataFrame( index ='1º 2º 3º 4º 5º 6º'.split(), 
                  columns='Time PG J V E D GP GC SG' .split())

In [53]:
PG = tb['V']*3 + tb['E']

In [54]:
SG = tb['GP']-tb['GC']
PG = tb['V']*3 + tb['E']

In [83]:
tb

             Time   J   V   E  D  GP  GC  SG  PG
1º      Palmeiras  27  15   8  4  41  18  23  53
2º  Internacional  27  15   8  4  35  17  18  53
3º      São Paulo  27  14  10  3  39  22  17  52
4º         Grêmio  27  14   8  5  35  14  21  50
5º       Flamengo  27  14   7  6  38   2  36  49
6º    Atlético-MG  27  13   6  8  47  33  14  45

In [17]:
libertadores = [['Palmeiras',  27, 15, 8, 4, 41, 18],
          ['Internacional', 27, 15, 8, 4, 35, 17],
          ['São Paulo',27, 14, 10, 3, 39, 22],
          ['Grêmio', 27, 14, 8, 5, 35, 14],
          ['Flamengo', 27, 14, 7, 6, 38, 2],
          ['Atlético-MG' , 27, 13, 6, 8, 47, 33]]

In [18]:
tb = pd.DataFrame(libertadores, index ='1º 2º 3º 4º 5º 6º'.split(), 
                  columns='Time J V E D GP GC' .split())

In [19]:
tb

             Time   J   V   E  D  GP  GC
1º      Palmeiras  27  15   8  4  41  18
2º  Internacional  27  15   8  4  35  17
3º      São Paulo  27  14  10  3  39  22
4º         Grêmio  27  14   8  5  35  14
5º       Flamengo  27  14   7  6  38   2
6º    Atlético-MG  27  13   6  8  47  33

In [59]:
tb.columns

Index(['Time', 'J', 'V', 'E', 'D', 'GP', 'GC', 'SG'], dtype='object')

In [20]:
tb['V'] + tb['E'] + tb['D'] == tb['J']

1º    True
2º    True
3º    True
4º    True
5º    True
6º    True
dtype: bool

In [30]:
# add uma coluna
tb['SG']=tb['GP']-tb['GC']

In [61]:
tb['PG'] = tb['V']*3 + tb['E']

In [62]:
tb

             Time   J   V   E  D  GP  GC  SG  PG
1º      Palmeiras  27  15   8  4  41  18  23  53
2º  Internacional  27  15   8  4  35  17  18  53
3º      São Paulo  27  14  10  3  39  22  17  52
4º         Grêmio  27  14   8  5  35  14  21  50
5º       Flamengo  27  14   7  6  38   2  36  49
6º    Atlético-MG  27  13   6  8  47  33  14  45

In [23]:
tb.drop('SG', axis=1)

             Time   J   V   E  D  GP  GC
1º      Palmeiras  27  15   8  4  41  18
2º  Internacional  27  15   8  4  35  17
3º      São Paulo  27  14  10  3  39  22
4º         Grêmio  27  14   8  5  35  14
5º       Flamengo  27  14   7  6  38   2
6º    Atlético-MG  27  13   6  8  47  33

In [25]:
tb

             Time   J   V   E  D  GP  GC  SG
1º      Palmeiras  27  15   8  4  41  18  23
2º  Internacional  27  15   8  4  35  17  18
3º      São Paulo  27  14  10  3  39  22  17
4º         Grêmio  27  14   8  5  35  14  21
5º       Flamengo  27  14   7  6  38   2  36
6º    Atlético-MG  27  13   6  8  47  33  14

In [26]:
# para drop é necessário informar o inplace=True

In [27]:
tb.drop('SG', axis=1,inplace=True )

In [28]:
tb

             Time   J   V   E  D  GP  GC
1º      Palmeiras  27  15   8  4  41  18
2º  Internacional  27  15   8  4  35  17
3º      São Paulo  27  14  10  3  39  22
4º         Grêmio  27  14   8  5  35  14
5º       Flamengo  27  14   7  6  38   2
6º    Atlético-MG  27  13   6  8  47  33

In [32]:
# localizando valores

In [34]:
tb.loc['1º']

Time    Palmeiras
J              27
V              15
E               8
D               4
GP             41
GC             18
SG             23
Name: 1º, dtype: object

In [36]:
tb.loc[['1º'],['V','D']]

     V  D
1º  15  4

In [37]:
tb.iloc[1:4, 2:]

     V   E  D  GP  GC  SG
2º  15   8  4  35  17  18
3º  14  10  3  39  22  17
4º  14   8  5  35  14  21

In [38]:
tb

             Time   J   V   E  D  GP  GC  SG
1º      Palmeiras  27  15   8  4  41  18  23
2º  Internacional  27  15   8  4  35  17  18
3º      São Paulo  27  14  10  3  39  22  17
4º         Grêmio  27  14   8  5  35  14  21
5º       Flamengo  27  14   7  6  38   2  36
6º    Atlético-MG  27  13   6  8  47  33  14

In [42]:
tb[tb['V']>14]  # seleciona apenas os times com vitorias maiores que 14

             Time   J   V  E  D  GP  GC  SG
1º      Palmeiras  27  15  8  4  41  18  23
2º  Internacional  27  15  8  4  35  17  18

In [46]:
tb[tb['V']>14]['J']

1º    27
2º    27
Name: J, dtype: int64

In [63]:
tb

             Time   J   V   E  D  GP  GC  SG  PG
1º      Palmeiras  27  15   8  4  41  18  23  53
2º  Internacional  27  15   8  4  35  17  18  53
3º      São Paulo  27  14  10  3  39  22  17  52
4º         Grêmio  27  14   8  5  35  14  21  50
5º       Flamengo  27  14   7  6  38   2  36  49
6º    Atlético-MG  27  13   6  8  47  33  14  45

In [32]:
df = pd.DataFrame( times ,index ='1º 2º 3º 4º 5º 6º'.split(), 
                  columns='Time PG J V E D GP GC SG'.split())

In [31]:
SG = df['GP']-df['GC']
PG = df['V']*3 + df['E']

In [14]:
import pandas as pd
import numpy as np

In [33]:
times = [['Palmeiras', PG[0] , 27, 15, 8, 4, 41, 18, SG[0]],
          ['Internacional', PG[1], 27, 15, 8, 4, 35, 17,  SG[1]],
          ['São Paulo',PG[2] , 27, 14, 8, 4, 39, 22,  SG[2]],
          ['Grêmio',PG[3] , 27, 14, 8, 5, 35, 14,  SG[3]],
          ['Flamengo',PG[4] , 27, 14, 7, 6, 38, 2,  SG[4]],
          ['Atlético-MG',PG[5] , 27, 13, 6, 8, 47, 33,  SG[5]]]

In [34]:
df

             Time  PG   J   V  E  D  GP  GC  SG
1º      Palmeiras  53  27  15  8  4  41  18  23
2º  Internacional  53  27  15  8  4  35  17  18
3º      São Paulo  50  27  14  8  4  39  22  17
4º         Grêmio  50  27  14  8  5  35  14  21
5º       Flamengo  49  27  14  7  6  38   2  36
6º    Atlético-MG  45  27  13  6  8  47  33  14