In [37]:
# Series  - manipulação de dados com referencia no index

In [36]:
import pandas as pd

In [5]:
import numpy as np

In [22]:
labels = ['a', 'b', 'c']

In [24]:
rotulos = ['m', 'n', 'p']

In [23]:
minha_lista = [10, 20, 30]

In [10]:
arr = np.array([10, 20, 30])

In [11]:
d = {'a':10, 'b':20, 'c':30}

In [13]:
pd.Series(data=minha_lista, index=labels)

a    10
b    20
c    30
dtype: int64

In [14]:
series = pd.Series(data=minha_lista, index=labels)

In [15]:
series['c']

30

In [16]:
series

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(minha_lista, labels)

a    10
b    20
c    30
dtype: int64

In [19]:
series['a']

10

In [21]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [25]:
pd.Series(minha_lista, rotulos)

m    10
n    20
p    30
dtype: int64

In [28]:
ser1 = pd.Series(([1, 2, 3, 4]), index=['EUA', 'Alemanha', 'Itália', 'Japão'])

In [30]:
ser2 = pd.Series(([1, 2, 3, 4]), index=['EUA', 'Alemanha', 'URSS', 'Japão'])

In [29]:
ser1

EUA         1
Alemanha    2
Itália      3
Japão       4
dtype: int64

In [31]:
ser2

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

In [32]:
ser1 - ser2

Alemanha    0.0
EUA         0.0
Itália      NaN
Japão       0.0
URSS        NaN
dtype: float64

In [33]:
ser1+ ser2

Alemanha    4.0
EUA         2.0
Itália      NaN
Japão       8.0
URSS        NaN
dtype: float64

In [34]:
ser1 / ser2

Alemanha    1.0
EUA         1.0
Itália      NaN
Japão       1.0
URSS        NaN
dtype: float64

In [38]:
ser1 + 22

EUA         23
Alemanha    24
Itália      25
Japão       26
dtype: int64