In [539]:
# importando as bibliotecas

import pandas as pd
import datetime as dt

In [540]:
# acessando a data atual

hoje = dt.date.today()
print(hoje)

2018-10-11

In [541]:
#  converte datatime para string
hoje = str(hoje)
hoje

'2018-10-11'

In [542]:
# gambiarra usando python

contDia=(hoje+" ")*12
contDia

'2018-10-11 2018-10-11 2018-10-11 2018-10-11 2018-10-11 2018-10-11 2018-10-11 2018-10-11 2018-10-11 2018-10-11 2018-10-11 2018-10-11 '

In [543]:
# criar lista usando o split()

gatDia=contDia.split()

In [544]:
# passar para uma variavel

gates = gatDia

In [545]:
# criar uma lista simples

timeReadIndex='05:00 09:00 QNT 09:00 16:00 QNT 16:00 19:30 QNT 19:30 23:00 QNT'.split()

In [546]:
# cria uma lista com tupla das listas gates e timeReadIndex

gates_timeReadIndex = list(zip(gates,timeReadIndex))

In [547]:
# cria um objeto pandas de multindex

gates_timeReadIndex=pd.MultiIndex.from_tuples(gates_timeReadIndex)

In [548]:
gates_timeReadIndex

MultiIndex(levels=[['2018-10-11'], ['05:00', '09:00', '16:00', '19:30', '23:00', 'QNT']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 5, 1, 2, 5, 2, 3, 5, 3, 4, 5]])

In [549]:
# cria um discionario data

data = {'E-001':[208509,208816,qnt11,208816,209010,qnt12,209010,209105,qnt13,209105,209113,qnt14],
        'E-002':[208509,208816,qnt21,208816,209010,qnt22,209010,209105,qnt23,209105,209113,qnt24],
        'E-003':[208509,208816,qnt31,208816,209010,qnt32,209010,209105,qnt33,209105,209113,qnt34],
        'E-004':[208509,208816,qnt41,208816,209010,qnt42,209010,209105,qnt43,209105,209113,qnt44],
        'E-005':[208509,208816,qnt51,208816,209010,qnt52,209010,209105,qnt53,209105,209113,qnt54],
        'M-006':[208509,208816,qnt61,208816,209010,qnt62,209010,209105,qnt63,209105,209113,qnt64],
        'M-007':[208509,208816,qnt71,208816,209010,qnt71,209010,209105,qnt71,209105,209113,qnt71],
        'M-008':[208509,208816,qnt81,208816,209010,qnt82,209010,209105,qnt83,209105,209113,qnt84],
       }

In [550]:
# cria um df com indices multniveis

df = pd.DataFrame(data, index=gates_timeReadIndex, 
                  columns= 'E-001 E-002 E-003 E-004 E-005 M-006 M-007 M-008'.split())

In [551]:
# cria uma lista que será passado para coluna sub totaldo df 

colSubTot = ["" ,"" , st1,"","",st1,"","",st1,"","",st1]

In [552]:
# cria uma lista que será passado para coluna total do df e com o calc total

colTot= [" " ," " , " "," "," "," "," "," "," "," "," ",st1+st2+st3+st4]

In [554]:
# add uma coluna 'sub total' ao df 

df['SubTot'] = colSubTot

In [555]:
# add uma coluna 'total' ao df

df['Total'] = colTot

In [518]:
# variaveis que sao responsaveis pelo calculo da coluna subtotal

st1 = data['E-001'][2]+data['E-002'][2]+data['E-003'][2]+data['E-004'][2]+data['E-005'][2]+data['M-006'][2]+data['M-007'][2]+data['M-008'][2]
st2 = data['E-001'][2]+data['E-002'][5]+data['E-003'][5]+data['E-004'][5]+data['E-005'][5]+data['M-006'][5]+data['M-007'][5]+data['M-008'][5]
st3 = data['E-001'][2]+data['E-002'][8]+data['E-003'][8]+data['E-004'][8]+data['E-005'][8]+data['M-006'][8]+data['M-007'][8]+data['M-008'][8]
st4 = data['E-001'][2]+data['E-002'][11]+data['E-003'][11]+data['E-004'][11]+data['E-005'][11]+data['M-006'][11]+data['M-007'][11]+data['M-008'][11]

In [557]:
# variaveis responsaveis pelos calc parciais geradores do calculo subtotal

qnt11=data['E-001'][1]-data['E-001'][0]
qnt12=data['E-001'][4]-data['E-001'][3]
qnt13=data['E-001'][7]-data['E-001'][6]
qnt14=data['E-001'][10]-data['E-001'][9]

qnt21=data['E-002'][1]-data['E-002'][0]
qnt22=data['E-002'][4]-data['E-002'][3]
qnt23=data['E-002'][7]-data['E-002'][6]
qnt24=data['E-002'][10]-data['E-002'][9]

qnt31=data['E-003'][1]-data['E-003'][0]
qnt32=data['E-003'][4]-data['E-003'][3]
qnt33=data['E-003'][7]-data['E-003'][6]
qnt34=data['E-003'][10]-data['E-003'][9]

qnt41=data['E-004'][1]-data['E-004'][0]
qnt42=data['E-004'][4]-data['E-004'][3]
qnt43=data['E-004'][7]-data['E-004'][6]
qnt44=data['E-004'][10]-data['E-004'][9]

qnt51=data['E-005'][1]-data['E-005'][0]
qnt52=data['E-005'][4]-data['E-005'][3]
qnt53=data['E-005'][7]-data['E-005'][6]
qnt54=data['E-005'][10]-data['E-005'][9]

qnt61=data['M-006'][1]-data['M-006'][0]
qnt62=data['M-006'][4]-data['M-006'][3]
qnt63=data['M-006'][7]-data['M-006'][6]
qnt64=data['M-006'][10]-data['M-006'][9]

qnt71=data['M-007'][1]-data['M-007'][0]
qnt72=data['M-007'][4]-data['M-007'][3]
qnt73=data['M-007'][7]-data['M-007'][6]
qnt74=data['M-007'][10]-data['M-007'][9]

qnt81=data['M-008'][1]-data['M-008'][0]
qnt82=data['M-008'][4]-data['M-008'][3]
qnt83=data['M-008'][7]-data['M-008'][6]
qnt84=data['M-008'][10]-data['M-008'][9]

In [559]:
# exibe o dataFrame

df

                   E-001   E-002   E-003   E-004   E-005   M-006   M-007  \
2018-10-11 05:00  208509  208509  208509  208509  208509  208509  208509
           09:00  208816  208816  208816  208816  208816  208816  208816
           QNT       307     307     307     307     307     307     307
           09:00  208816  208816  208816  208816  208816  208816  208816
           16:00  209010  209010  209010  209010  209010  209010  209010
           QNT       194     194     194     194     194     194     307
           16:00  209010  209010  209010  209010  209010  209010  209010
           19:30  209105  209105  209105  209105  209105  209105  209105
           QNT        95      95      95      95      95      95     307
           19:30  209105  209105  209105  209105  209105  209105  209105
           23:00  209113  209113  209113  209113  209113  209113  209113
           QNT         8       8       8       8       8       8     307

                   M-008 SubTot Total
2018-10-11 05:00  208509
           09:00  208816
           QNT       307   2456
           09:00  208816
           16:00  209010
           QNT       194   2456
           16:00  209010
           19:30  209105
           QNT        95   2456
           19:30  209105
           23:00  209113
           QNT         8   2456  6080