In [1]:
# importação das bibliotecas numpay e pandas
import numpy as np
import pandas as pd

In [28]:
# criando índices multiníveis

# cria uma lista
outside = ['G1','G1','G1','G2','G2','G2']

# cria uma lista
inside = [1,2,3,1,2,3]

# criamos uma hierarquia de index, usamos o zip para criar uma lista de tuplas, onde eu associo cada valor de
# outside a um valor de inside;e é isso que esse método zip faz, ele pega duas listas separadas, associas elas 
# e trasnforma em umatuplas: [('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]
hier_index = list(zip(outside, inside))

# criamos um objeto do pandas que é um índice multinível
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [29]:
# um exemplo de multnível com dataFrame para ficar mais legível a explicação
# vou passar o hier_index como meu índice
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A','B'])
df

             A         B
G1 1  0.047737  0.008474
   2 -2.185843 -1.464271
   3 -0.192329 -1.235924
G2 1 -1.213464  0.887967
   2  0.605847  0.477020
   3 -0.406675  1.181531

In [30]:
# veja como categorizamos os nossos índices
df

             A         B
G1 1  0.047737  0.008474
   2 -2.185843 -1.464271
   3 -0.192329 -1.235924
G2 1 -1.213464  0.887967
   2  0.605847  0.477020
   3 -0.406675  1.181531

In [31]:
# acessando os índices
df.loc['G1']['B']

1    0.008474
2   -1.464271
3   -1.235924
Name: B, dtype: float64

In [32]:
# acessando os índices
df.loc['G1']

          A         B
1  0.047737  0.008474
2 -2.185843 -1.464271
3 -0.192329 -1.235924

In [33]:
# acessando os índices por linha
df.loc['G1'].loc[1]

A    0.047737
B    0.008474
Name: 1, dtype: float64

In [34]:
# os índices possuem nomes, ou seja, podemos especificar os nomes para as colunas dos índices
df.index.names = ['Grupo','Número']
df

                     A         B
Grupo Número
G1    1       0.047737  0.008474
      2      -2.185843 -1.464271
      3      -0.192329 -1.235924
G2    1      -1.213464  0.887967
      2       0.605847  0.477020
      3      -0.406675  1.181531

In [53]:
# uma outra forma de selercionar os dados de um df que possu índices multiníveis é por meio do xs
# a vantagem do xs sobre o loc é que você pode passar para o nível interno sem ter que precise passar pelo nível
# externo para prover acesso a algum dado do df: df.xs(1,[level])
df.xs('G1')

               A         B
Número
1       0.047737  0.008474
2      -2.185843 -1.464271
3      -0.192329 -1.235924

In [52]:
df.xs(1,level='Número' )

              A         B
Grupo
G1     0.047737  0.008474
G2    -1.213464  0.887967